<% 
cuser=User[:login => session[:logged_in]]
user=User[:login => params[:user]]

if cuser==user
  sajat=true
else
  sajat=false
end
%>

<h1><%=user.login%> oldala</h1>
<ul>
<% if user.name!="" %>
<%= "<li>Név: #{user.name}</li>"%><%end%>
<li>Utolsó bejelentkezés: <%=user.lastlogin.year%>-<%=user.lastlogin.month%>-<%=user.lastlogin.day%>.</li>
<li>Regisztráció dátuma: <%=user.regdate.year%>-<%=user.regdate.month%>-<%=user.regdate.day%>.</li>
<% if user.email!="" %>
<%= "<li>e-mail címe: #{user.email}</li>"%><%end%></ul>

<h3>Dínói:</h3>
<%
html="<ul>"
Dino.each{|d| if d.tulname==user.login
                html<<"<li><a href=/user/dinolap?dino=#{d.id}>#{d.dinoname}</a></li>"
               end } %>
<%="#{html}</ul>"%>

<% 
if sajat %>
<%=
"<p><a href=/user/umod>adataid módosítása</a>
 <p><a href=/user/udel>regisztráció törlése</a>"%>
<% end %>
 
