<% 
cuser=User[:login => session[:logged_in]]
user=User[:login => params[:user]]

if cuser==user
  sajat=true
else
  sajat=false
end
%>

<h1><%=user.login%> oldala</h1>
<ul>
<% if user.name!="" %>
<%= "<li>Név: #{user.name}</li>"%><%end%>
<li>Utolsó bejelentkezés: <%=user.lastlogin%>.</li>
<li>Regisztráció dátuma: <%=user.regdate%>.</li>
<% if user.email!="" %>
<%= "<li>e-mail címe: #{user.email}</li>"%><%end%></ul>

<h3>Dínói:</h3>
<%
html="<table class=beh>"
Dino.each{|d| if d.tulname==user.login
                html<<%(<tr><td width='10%'><img src="/#{d.tipe}.jpg" width='100%'></img></td><td><a href=/dino/dlap?dino=#{d.id}>#{d.dinoname}</a></td></tr>)
               end } %>
<%="#{html}</table>"%>

<% 
if sajat %>
<%=
"<h3>Opciók:</h3>
 <p><a href=/dino/newdino>új dínó befogadása</a>
 <p><a href=/user/umod>adataid módosítása</a>
 <p><a href=/user/udel>regisztráció törlése</a>"%>
<% end %>
 
